body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background: url(../images/homepage-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
   }

.header {
    background-color: #D9D9D9;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bolder;
    position: relative; 
    display: flex;
    align-items: center; 
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;  
    margin-left: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

nav {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;  
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding-right: 30px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-image: linear-gradient(#000000, #000000);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    }
    nav ul li a:hover,
    nav ul li a:focus,
    nav ul li a:active {
    background-size: 100% 0.1em;
    }   
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    

}
.main-content {
    width: 50%;
    float:left;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}
.container{
    padding:100px;
  
    
        

}  


.sidebar {
    width: 35%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    float:right;
    height:fit-content;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);   
}

.main-text {
    height: inherit;
    margin-bottom: 10px;
    justify-content: center;
    text-align: inherit;
    
}
footer {
    background-color: #e0e0e0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.email_icon{
    width:30px;
    padding-right: 30px;
    padding-top:5px;
    

}
.phone_icon{
    width: 25px;
    padding-right: 100px;
}
.about-container{
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    width: 50%; 
    margin: 0 auto; 
    box-sizing: border-box; 

}
.container-about{
    padding:100px;
    max-width: fit-content;
    margin-inline: auto

}  
.main-content-about{
    width: 50%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    max-width: fit-content;
    margin-inline: auto    
}

.main-title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 0px;
}
.CourseContainer{
  width: 100%;
  padding-bottom: 600px;
  max-height: 500px;
}

.course-1{
    float:left;
    max-width: fit-content;
    min-width: inherit;
    margin-left: 6%;
    margin-right: auto;
    width:15%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;


}
.course-cost{
    font-weight:lighter;
    color:grey;

}

.course-1 button{
    display: block;
    background-color: #ffffff;
    color:#1e0e62;
    border: 1px solid #1e0e62;
    height:50px;
    width:100px;    
    margin:auto;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #1e0e62;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
.course-1 button:hover{
    color:rgb(255, 255, 255);
    box-shadow: inset 100px 0 0 0 #1e0e62;
}
#contact {
  width: 100%;
  height: 100%;
}


.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #1e0e62;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
  background-color: #e0e0e0;
  padding:1rem;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);  
  opacity: 0.95;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #ffffff;
  color: #1e0e62;
  letter-spacing: 1px;
  width:100%;
  border:#1e0e62 solid  2px  ;
  padding-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: #1e0e62;
  border-radius: 10px;
  color:#fff;
}

.alt-send-button {
  width: 400px;
  height: 50px;
  transition: all .3s ease-in-out;
}


.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -30px, 0px);
  
}
.alt-send-button img {
  height:20px;
  padding-top: 5px;

}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  background-color: #e0e0e0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);  
  border-radius: 5px;
  padding:2rem;
  opacity: 0.95;

}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  display:inline;
  align-items: center;
}
.contact-list img{
  height:40px;
  

}

.list-item {
  line-height: 4;
  color: #1e0e62;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #1e0e62;
  text-align: center;
  display:inline-block;
  margin-left: 20px;
}

.place {
  margin-left: 62px;
  
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #1e0e62;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #1e0e62;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display:flex;
  flex-direction: row;
  align-items: center;
  
}

.social-media-list li a {
  color: #1e0e62;
}

.social-media-list li { 
  height: 60px;
  width: 60px;
  margin: 10px 20px;
  line-height: 60px;
  border-radius: 50%;
  color: #1e0e62;
  background-color: rgb(27,27,27);
  cursor: pointer;
  list-style: none; 
}
.insta-logo{
height: 60px;
width: auto;
display: flex;
justify-content: center;
align-items: center;

}
.facebook-logo{
height: 40px;
width: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
padding-top: 10px;
}
.x-logo{
height: 40px;
width: auto;
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
padding-top: 10px;
}
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  .RequestInfo{
    width: 640px;
    height: 1500PX;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    margin-inline: auto 

  }
  .RequestInfoContainer {
    padding: 100px;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-image: url('../images/homepage-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    left: 50%;
  }

  .productContainer{
    margin-top: 300px;
    padding:40px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 5px;
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .course-1 a{
    text-decoration: none;
    color: inherit;
  }

  .productLeft{
    float:left;
    
  }
  .productRight{
    float: right;
    justify-content: center;
    align-items: center;
  }
  .productimage {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}
.productLeft {
  flex: 1;
  padding: 20px;
}
.productTitle {
  color: #333;
  font-size: 28px;
  margin-bottom: 15px;
}
.productDuration {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}
.productContainer {
  width: 80%; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 200px;
  padding: 20px;
}
.ProductDescription {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.productLeft ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.productLeft ul li {
  padding: 8px 0;
  color: #666;
  position: relative;
  padding-left: 25px;
}

.productLeft ul li:before {
  content: "✓";
  color: #4CAF50;
  position: absolute;
  left: 0;
}

.quote-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.remove-btn {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #cc0000;
}

.clear-btn {
  background-color: #666;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.total {
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  .animated-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.animated-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.animated-button:active {
    transform: scale(0.95);
}
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li { 
      height: 60px;
      width: 60px;
      margin: 10px 20px;
      line-height: 60px;
      border-radius: 50%;
      color: #1e0e62;
      background-color: rgb(27,27,27);
      cursor: pointer;
      list-style: none; 
    }
  .insta-logo{
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .facebook-logo{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
  }
  .x-logo{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
  }
  /* General page layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header styling */
.header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

/* Product container styling */
.productContainer {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    gap: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.productimage {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

.productLeft {
    flex: 1;
    padding: 20px;
}

.productTitle {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

.productDuration {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.productPrice {
    color: #4CAF50;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ProductDescription {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.productLeft ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.productLeft ul li {
    padding: 8px 0;
    color: #666;
    position: relative;
    padding-left: 25px;
}

.productLeft ul li:before {
    content: "✓";
    color: #4CAF50;
    position: absolute;
    left: 0;
}

/* Animated button styling */
.animated-button {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.animated-button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.animated-button:active {
    transform: translateY(0);
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email_icon,
.phone_icon {
    height: 24px;
    margin-left: 15px;
    transition: opacity 0.3s ease;
}

.email_icon:hover,
.phone_icon:hover {
    opacity: 0.8;
}

/* Responsive design */
@media (max-width: 768px) {
    .productContainer {
        flex-direction: column;
    }

    .productimage {
        max-width: 100%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }